*{
    font-size: 0;
    box-sizing: border-box;
}
p, a{
    font-size: large;
}
a{
    color:white;
    text-decoration: none;
    display: block;
    padding:10px 30px;
    border: 1px solid #0e6651;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    text-align: center;
}
li:hover, a:focus{
    background: #0e6651;
}
ul.list{
    list-style: none;
    padding:20px;
}
ul.list > li{
    display: inline-block;
}
li{
    background-color: #179a7b;
}
.dropList{
    position:relative;
    display: block;
}
.drop{
    position: absolute;
    padding:0;
    display: none;
}
li.dropList:hover > ul.drop{
    display: block;
}