* {
    font-size: 0;
    box-sizing: border-box;
}

.text, .nav-item {
    font-size: large;
}

.nav-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    border: 1px solid #0e6651;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    text-align: center;
}

.nav-list-item:hover, .nav-item:focus {
    background: #0e6651;
}

.list {
    list-style: none;
    padding: 20px;
}

.list > .nav-list-item {
    display: inline-block;
}

.nav-list-item {
    background-color: #179a7b;
}

.dropList {
    position: relative;
    display: block;
}

.dropDrop {
    position: relative;
}

.drop {
    position: absolute;
    padding: 0;
    display: none;
}

.nav-list-item.dropList:hover > .drop {
    display: block;
}

.nav-list-item.dropDrop:hover > .drop {
    top: 0;
    left: 100%;
}